<div style="@(_busyCounter > 0 ? $"opacity: 0.75; {Style}" : Style)" class="@Class">
    @ChildContent
</div>

@code {
    private int _busyCounter = 0;

    [Parameter]
    public string Class { get; set; } = string.Empty;

    [Parameter]
    public string Style { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = _ => { };

    public bool IsBusy => _busyCounter != 0;

    public IDisposable Busy()
    {
        Interlocked.Increment(ref _busyCounter);
        _ = InvokeAsync(StateHasChanged);
        return new Disposable(() =>
        {
            Interlocked.Decrement(ref _busyCounter);
            _ = InvokeAsync(StateHasChanged);
        });
    }
    public void ExclusiveBusy(Action action)
    {
        var result = Interlocked.Increment(ref _busyCounter);
        try
        {
            if (result != 1)
                return;
            _ = InvokeAsync(StateHasChanged);
            action();
        }
        finally
        {
            Interlocked.Decrement(ref _busyCounter);
        }
    }

    public async Task ExclusiveBusyAsync(Func<Task> action)
    {
        var result = Interlocked.Increment(ref _busyCounter);
        try
        {
            if (result != 1)
                return;
            _ = InvokeAsync(StateHasChanged);
            await action();
        }
        finally
        {
            Interlocked.Decrement(ref _busyCounter);
        }
    }

    public async Task<T> ExclusiveBusyAsync<T>(Func<Task<T>> action, Func<T> defaultValueFactory)
    {
        var result = Interlocked.Increment(ref _busyCounter);
        try
        {
            if (result != 1)
                return defaultValueFactory();
            _ = InvokeAsync(StateHasChanged);
            return await action();
        }
        finally
        {
            Interlocked.Decrement(ref _busyCounter);
        }
    }

    public static implicit operator bool(BusyComponent self) => self.IsBusy;

}
